body {
    background-color: #ffec7d;
    color: rgb(0, 0, 0);
    font-family: "preconnect", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ffdd1f;
    color: rgb(0, 0, 0);
    font-family: "preconnect", sans-serif;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s, background 0.3s;
}

button:hover {
    background-color: #c0ff72;
    transform: scale(1.05);
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.3);
}

img {
    max-width: 90%;
    border-radius: 12px;
    margin-bottom: 20px;
}
